# top-most Editorconfig file
root = true

[*]
insert_final_newline = false
trim_trailing_whitespace

[*.{js,ts}]
charset = utf-8
indent_style = space

[*.{js,json}]
indent_size = 2

[*.{ts,cs,html,cshtml}]
indent_size = 4

[*.{cs,vb}]
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds           = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _